.nb-footer {
	background: #272727;
	margin-top: 60px;
	padding-bottom: 30px;
}

.nb-footer .footer-single {
	margin-top: 30px;
}

.nb-footer .footer-title {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
}

.nb-footer .footer-single a {
	text-decoration: none;
}

.nb-footer .footer-single h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
	display: inline-block;
	border-bottom: 2px solid #7BFF00;
	padding-bottom: 5px;
	margin-bottom: -2px;
}

.nb-footer .footer-single li {
	border-top: solid 1px #353535;
}

.nb-footer .footer-single li:first-child {
	border-top: none;
}

.nb-footer .footer-single li a {
	color: #979797;
	font-size: 12px;
	padding: 6px 0px;
	display: block;
	transition: all 0.4s ease-in-out;
}

.nb-footer .footer-single li a:hover {
	color: #7BFF00;
}

.nb-footer .footer-single li a:hover i {
	color: #7BFF00;
}

.nb-footer .brand {
	background: #7BFF00;
}


.nb-footer .btn-footer {
	border: 1px solid #7BFF00;
	margin-top: 10px;
	color: #999;
}

.nb-footer .btn-footer:hover {
	background: #7BFF00;
	color: #fff;
	transition: all 0.4s ease-in-out;
}

.nb-footer .useful-links li a {
	text-transform: uppercase;
}

.nb-footer .footer-project a {
	font-size: 13px;
}

.nb-footer .footer-project img {
	margin-bottom: 20px;
	border: 1px solid #666;
	border-radius: 6px;
	padding: 1px;
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
}

.nb-footer .footer-project img:hover {
	opacity: 1.0;
	cursor: pointer;
}

.nb-footer .footer-project .footer-title {
	margin-top: 0;
}

.nb-footer .footer-single p, .footer-single address {
	color: #979797;
	font-size: 14px;
	margin-top: 5px;
	line-height: 22px;
}

.nb-copyright {
	background: #171717;
	padding-bottom: 10px;
}

.nb-copyright .copyrt {
	margin-top: 22px;
	font-size: 14px;
}

.nb-copyright .copyrt a {
	color: #7BFF00;
}

@media ( max-width : 767px) {
	.xs-center {
		text-align: center;
	}
	.left-clear {
		padding-left: 0;
	}
	.right-clear {
		padding-right: 0;
	}
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

/* Back to top button */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#myBtn:hover {
	background-color: #555;
}
