/* Body */
body  {
    background: url("../images/background.jpg") no-repeat fixed;
}

.productInfo{
    color: #e4e9f0;
}

/* hr line */
hr.style1 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/*Product Container */
.productContainer {
    border-radius: 15px 50px;
    background: #181413;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 5px grey;
}

/* Nav Tabs Label */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 1px solid white;
    font-weight: bold;
    background-color: #181413 !important;
    color: white !important;
    font-family: "Times New Roman", Times, serif !important;

}

.nav-tabs>li>a {
    color: white !important;
    font-family: "Times New Roman", Times, serif !important;
}


.nav-tabs>li>a:hover{
    border: 1px solid transparent;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #d4d4d4;
}

/* Hover table rows */
tr:hover td, tr:hover td>strong>p{
    background-color: white;
    color: #181413;
}